<!--  
<mat-card>
  <mat-card-title>
    Angular Material Menu Demo
  </mat-card-title>
  <mat-card-content>
    <button mat-menu color="primary" [matMenuTriggerFor]="menu">
      Open Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onTest()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item href="" routerLink="/about">
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item href="" routerLink="/personalInfo">
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
      <button mat-menu-item href="" routerLink="/personlist">
        <mat-icon>notifications_off</mat-icon>
        <span>Person List</span>
      </button>
    </mat-menu>
  </mat-card-content>
</mat-card>

<div class="main-container">
    <header class="header header-6">
        Javed Alam
    </header>
    <div class="content-container">
    <div class="content-area">
            Content goes here
     </div>
     <nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cloud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tenants</a>
        </li>
    </ul>
</nav>
    </div>
<</div>
-->
<div class="main-container">
    <header class="header header-6">
        Javed Alam
    </header>
    <nav class="subnav">
       <ul class="nav">
        <li class="nav-item">
<!--             <a class="nav-link" href="#" routerLink="/personalInfo">Enter Personal Information</a> -->
            <a class="nav-link" href="#" routerLink="/entry" routerLinkActive="active">Enter Personal Informationn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/personlist" routerLinkActive="active">Personal Information1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">About</a>
        </li>
    </ul>
    </nav>
    <div class="content-container">
       <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
