.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-input-container label {
  color: red;
}

/* When the input is focused */
mat-input-container.mat-input-focused label {
  color: blue;
}