.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-input-element::placeholder {
	color: rgb(193, 66, 66)
}

.mat-input-element::-moz-placeholder {
	color: rgb(193, 66, 66)
}

.mat-input-element::-webkit-input-placeholder {
	color: rgb(193, 66, 66)
}

.mat-input-element:-ms-input-placeholder {
	color: rgb(193, 66, 66)
}

.mat-select-placeholder {
	color: rgb(193, 66, 66)
}

.mat-select-disabled .mat-select-value {
	color: rgba(193, 66, 66)
}

.mat-select-arrow {
	color: rgba(193, 66, 66)
}